@import "_variables.scss";



.list-group {

  .list-group-item {
    border-left: solid 7px rgba(0,0,0,0);
    
    .ms-thumbnail {
      min-height: 100px;
    }
    
    &.ms-highlight {
      border-left: solid 7px map-get($map: $theme-colors, $key: 'digital') !important;
    }
  }


  .ms-full {
    opacity: 0.7;
  }

}

