
#tribe-events a {
    color: rgb(0, 176, 160) !important;
}

.tribe-event-featured {
    background: rgba(161, 198, 57, 0.3) !important;
    color: #000 !important;
}

.tribe-event-featured .tribe-events-content,
.tribe-event-featured .tribe-events-event-meta {
    color: #000 !important;
}